html{
  height: 100%;
  background: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%) !important;
}

#app{
	color: #363d42;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.base{
  margin: 60px;
  box-shadow: 2px 2px 5px rgba(3, 150, 255, 0.75);
  background: rgba(255, 255, 255, 0.95) !important;
  min-width: 400px;
  max-height: 700px;
  margin-bottom: auto;
}

.monitor-item{
  background: #6191b3;
  color: whitesmoke;
  width: 140px;
  box-shadow: 2px 2px 4px rgba(25, 35, 43, 0.44);
  height: 160px;
  border-radius: 3px;
  padding: 4px;
  margin: 5px;
}

.userMenuButton{
  position: fixed;
  top: 10px;
  right: 10px;
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(3, 150, 255, 0.75);
  border: none !important;
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
}

.userMenu{
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 10;
}

.settingsContainer{
  min-width: 300px;
}

.table-head{
  cursor: pointer;
}

.siteTable-row{
  cursor: pointer;
}

.padding-both{
  padding-left: 10px;
  padding-right: 10px;
}

.padding-left{
  padding-left: 10px;
}

.padding-right{
  padding-right: 10px;
}

.margin-top{
  margin-top: 20px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.form-label{
  font-weight: bold;
  width: auto;
  text-align: right;
  margin-right: 10px;
}

.text-center{
  text-align: center !important;
}

.form-text{
  line-height: 28px;
}

.height-16{
  height: 16px;
}

.height-32{
  height: 32px;
}

.logo{
  margin-top: 40px;
  bottom: 0;
}

.h6{
  margin-top: 4px;
  margin-bottom: 6px;
}

.modal-footer > .btn{
  margin-left: 8px;
  margin-right: 10px;
}

.modal-header{
  padding-bottom: 0 !important;
}

.toast{
  position: fixed;
  max-height: 60px;
  bottom: 10px;
  right: 10px;
  max-width: 300px;
}

.sites > span{
  pointer-events: none;
  user-select: none;
}

.nirasSpaceLogo{
  filter: drop-shadow(1px 1px 1px rgba(0,76,100,0.5));
  margin: 10px;
}

.no-wrap{
  white-space: nowrap;
}

.advancedBox{
  border: 1px solid black;
}
