html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app{
	color: #363d42;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

#content{
  display: flex;
  justify-content: center;
}

a{ cursor: pointer; }
textarea { resize: none; }
.padding-left{ padding-left: 10px; }
.padding-right{ padding-right: 10px; }
.padding-both{ padding-left: 10px; padding-right: 10px; }
.margin-top{ margin-top: 20px; }
.margin-bottom{ margin-bottom: 20px; }
.height-16{ height: 16px; }
.height-32{ height: 32px; }
.no-wrap{ white-space: nowrap; }
.text-center{ text-align: center !important; }
.cursor-pointer{ cursor: pointer; }
.events-none{ pointer-events: none; user-select: none; }
